# **전체 데이터셋 모두 merge하기**

- 1-4_similarity_bert.csv
- 2-1_patent_control.csv
- 2-1_pub_control.csv
- 2-2_dependent_variables.csv
- 2-3_eurostat_merged_data.csv
- 2-4_ardeco_merged_data.csv

이후에 추가할 데이터셋 
- adjreg.csv

In [5]:
import pandas as pd
similarity = pd.read_csv('1-4_similarity_bert.csv')
similarity

    eu_nuts_id  period  bert_similarity
0         FR71       3         0.059860
1         FR71       4         0.054019
2         FR71       5         0.026632
3         FR71       6         0.026299
4         FR71       7         0.059980
..         ...     ...              ...
664       AT21       4         0.044976
665       AT21       5         0.011215
666       ITH1       5         0.000703
667       AT34       5         0.047280
668       BE34       5         0.008712

[669 rows x 3 columns]

In [6]:
import pandas as pd 
dependent = pd.read_csv('2-2_dependent_variables.csv')
dependent

,eu_nuts_id,period,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,num_mean_with_families,...,citation_sum,citation_harmonic_mean_full_period,citation_mean_full_period,citation_sum_full_period,num_unique_novel_appln_4digit,num_unique_novel_appln_8digit,num_novel_4digit_combinations,num_novel_8digit_combinations,binary_novel_journal,num_unique_novel_subjects
0,AT11,0,9.0,9.0,0.0,0.000000,0.000000,4.5,9.0,4.5,...,0.0,NaN,0.0,0.0,9.0,9.0,14.0,59.0,NaN,NaN
1,AT11,1,30.0,29.0,0.0,0.000000,0.000000,15.0,30.0,14.5,...,32.0,0.000000,16.0,32.0,30.0,30.0,27.0,67.0,NaN,NaN
2,AT11,2,24.0,24.0,0.0,0.000000,0.000000,12.0,24.0,12.0,...,32.0,0.000000,16.0,32.0,15.0,17.0,13.0,37.0,NaN,NaN
3,AT11,3,39.0,39.0,0.0,0.000000,0.000000,19.5,39.0,19.5,...,56.0,0.000000,28.0,56.0,20.0,32.0,33.0,187.0,NaN,NaN
4,AT11,4,68.0,67.0,34.0,45.333333,45.108911,51.0,102.0,50.5,...,33.0,0.000000,16.5,33.0,49.0,61.0,95.0,285.0,1.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,UKN0,4,118.0,114.0,3851.0,228.983623,221.444641,1984.5,3969.0,1982.5,...,144.0,83.704433,101.5,203.0,76.0,99.0,131.0,448.0,1.0,181.0
2727,UKN0,5,155.0,149.0,6627.0,302.915069,291.447166,3391.0,6782.0,3388.0,...,77.0,84.654971,85.5,171.0,102.0,132.0,150.0,983.0,1.0,12.0
2728,UKN0,6,236.0,222.0,575.0,334.648582,320.326223,405.5,811.0,398.5,...,110.0,11.373913,57.5,115.0,80.0,162.0,272.0,1411.0,1.0,1.0
2729,UKN0,7,385.0,368.0,110.0,171.111111,169.372385,247.5,495.0,239.0,...,270.0,0.000000,135.0,270.0,103.0,263.0,526.0,2976.0,1.0,16.0
2730,UKN0,8,253.0,248.0,0.0,0.000000,0.000000,126.5,253.0,124.0,...,179.0,0.000000,89.5,179.0,22.0,136.0,371.0,2106.0,NaN,NaN

In [7]:
final_df = pd.merge(similarity, dependent, on=['eu_nuts_id', 'period'], how = 'left')
final_df

,eu_nuts_id,period,bert_similarity,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,...,citation_sum,citation_harmonic_mean_full_period,citation_mean_full_period,citation_sum_full_period,num_unique_novel_appln_4digit,num_unique_novel_appln_8digit,num_novel_4digit_combinations,num_novel_8digit_combinations,binary_novel_journal,num_unique_novel_subjects
0,FR71,3,0.059860,3661.0,3620.0,130.0,251.084147,250.986667,1895.5,3791.0,...,5998.0,0.000000,2999.0,5998.0,110.0,838.0,1134.0,7871.0,1.0,33.0
1,FR71,4,0.054019,4533.0,4432.0,21752.0,7502.515960,7363.646807,13142.5,26285.0,...,4460.0,1085.576999,2539.0,5078.0,719.0,1549.0,1175.0,10572.0,1.0,154.0
2,FR71,5,0.026632,5345.0,5176.0,37704.0,9362.720621,9102.420896,21524.5,43049.0,...,2936.0,1085.580000,1800.0,3600.0,1024.0,2963.0,1293.0,13039.0,1.0,8.0
3,FR71,6,0.026299,7215.0,6931.0,3241.0,4472.803175,4416.706842,5228.0,10456.0,...,4538.0,108.676149,2285.0,4570.0,370.0,1482.0,1991.0,19135.0,1.0,3.0
4,FR71,7,0.059980,8732.0,8478.0,420.0,801.451049,800.350641,4576.0,9152.0,...,5846.0,0.000000,2923.0,5846.0,20.0,775.0,3235.0,34173.0,1.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,AT21,4,0.044976,231.0,223.0,164.0,191.817722,189.002584,197.5,395.0,...,113.0,5.844828,58.0,116.0,119.0,185.0,183.0,509.0,1.0,88.0
665,AT21,5,0.011215,259.0,247.0,308.0,281.382716,274.147748,283.5,567.0,...,109.0,0.000000,54.5,109.0,170.0,218.0,203.0,873.0,1.0,45.0
666,ITH1,5,0.000703,113.0,108.0,354.0,171.314775,165.506494,233.5,467.0,...,60.0,38.181818,44.0,88.0,97.0,104.0,113.0,610.0,1.0,63.0
667,AT34,5,0.047280,671.0,622.0,267.0,381.997868,373.619798,469.0,938.0,...,588.0,0.000000,294.0,588.0,313.0,491.0,382.0,1699.0,1.0,64.0
668,BE34,5,0.008712,174.0,169.0,104.0,130.187050,128.761905,139.0,278.0,...,289.0,17.456376,149.0,298.0,101.0,148.0,110.0,690.0,1.0,28.0

In [8]:
patent_control = pd.read_csv('2-1_patent_control.csv')
patent_control

,eu_nuts_id,period,num_inventors,num_organizations,num_companies,num_universities,num_gov_institutions,num_cpc_4digit,num_cpc_8digit
0,AT11,0,7.0,0.0,0.0,0.0,0.0,18,31
1,AT11,1,20.0,19.0,2.0,0.0,0.0,32,49
2,AT11,2,17.0,19.0,5.0,0.0,0.0,28,39
3,AT11,3,25.0,29.0,7.0,0.0,0.0,47,96
4,AT11,4,57.0,57.0,7.0,0.0,0.0,78,148
...,...,...,...,...,...,...,...,...,...
2664,UKN0,4,172.0,187.0,28.0,5.0,0.0,104,234
2665,UKN0,5,239.0,260.0,35.0,5.0,0.0,126,328
2666,UKN0,6,401.0,455.0,66.0,6.0,4.0,172,489
2667,UKN0,7,515.0,566.0,81.0,3.0,1.0,241,835
2668,UKN0,8,361.0,363.0,49.0,4.0,0.0,214,652

In [9]:
final_df = pd.merge(final_df, patent_control, on=['eu_nuts_id', 'period'], how='left')
final_df

,eu_nuts_id,period,bert_similarity,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,...,num_novel_8digit_combinations,binary_novel_journal,num_unique_novel_subjects,num_inventors,num_organizations,num_companies,num_universities,num_gov_institutions,num_cpc_4digit,num_cpc_8digit
0,FR71,3,0.059860,3661.0,3620.0,130.0,251.084147,250.986667,1895.5,3791.0,...,7871.0,1.0,33.0,4913.0,5253.0,577.0,8.0,7.0,471,2671
1,FR71,4,0.054019,4533.0,4432.0,21752.0,7502.515960,7363.646807,13142.5,26285.0,...,10572.0,1.0,154.0,6018.0,6368.0,623.0,14.0,6.0,489,2962
2,FR71,5,0.026632,5345.0,5176.0,37704.0,9362.720621,9102.420896,21524.5,43049.0,...,13039.0,1.0,8.0,7472.0,7941.0,696.0,39.0,7.0,512,3366
3,FR71,6,0.026299,7215.0,6931.0,3241.0,4472.803175,4416.706842,5228.0,10456.0,...,19135.0,1.0,3.0,10228.0,10693.0,711.0,92.0,9.0,528,3966
4,FR71,7,0.059980,8732.0,8478.0,420.0,801.451049,800.350641,4576.0,9152.0,...,34173.0,1.0,15.0,11920.0,12198.0,657.0,107.0,31.0,563,4669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,AT21,4,0.044976,231.0,223.0,164.0,191.817722,189.002584,197.5,395.0,...,509.0,1.0,88.0,235.0,255.0,46.0,0.0,0.0,173,356
665,AT21,5,0.011215,259.0,247.0,308.0,281.382716,274.147748,283.5,567.0,...,873.0,1.0,45.0,300.0,289.0,35.0,0.0,0.0,176,441
666,ITH1,5,0.000703,113.0,108.0,354.0,171.314775,165.506494,233.5,467.0,...,610.0,1.0,63.0,120.0,140.0,37.0,0.0,0.0,120,263
667,AT34,5,0.047280,671.0,622.0,267.0,381.997868,373.619798,469.0,938.0,...,1699.0,1.0,64.0,618.0,674.0,86.0,0.0,0.0,242,743
668,BE34,5,0.008712,174.0,169.0,104.0,130.187050,128.761905,139.0,278.0,...,690.0,1.0,28.0,150.0,159.0,12.0,0.0,0.0,100,273

In [10]:
pub_control = pd.read_csv('2-1_pub_control.csv')
pub_control

,Unnamed: 0,eu_nuts_id,period,pub_num_institution,pub_num_authors,pub_num_subjects,pub_num_funding,pub_funding_ratio,pub_num_funded_agencies
0,0,AT11,4,36,119,40,0,0.000000,0
1,1,AT11,5,69,276,58,0,0.000000,1
2,2,AT11,6,2,14,4,0,0.000000,0
3,3,AT11,7,7,12,8,0,0.000000,6
4,4,AT12,2,4,5,5,0,0.000000,0
...,...,...,...,...,...,...,...,...,...
1787,1787,UKN0,3,38,36,27,0,0.000000,12
1788,1788,UKN0,4,4321,8587,219,0,0.000000,1
1789,1789,UKN0,5,7228,16630,224,15,0.002263,32
1790,1790,UKN0,6,1124,2681,182,22,0.038261,71
1791,1791,UKN0,7,319,747,101,131,1.190909,184

In [11]:
final_df = pd.merge(final_df, pub_control, on = ['eu_nuts_id', 'period'], how = 'left')
final_df

,eu_nuts_id,period,bert_similarity,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,...,num_gov_institutions,num_cpc_4digit,num_cpc_8digit,Unnamed: 0,pub_num_institution,pub_num_authors,pub_num_subjects,pub_num_funding,pub_funding_ratio,pub_num_funded_agencies
0,FR71,3,0.059860,3661.0,3620.0,130.0,251.084147,250.986667,1895.5,3791.0,...,7.0,471,2671,849,532,449,61,23,0.176923,56
1,FR71,4,0.054019,4533.0,4432.0,21752.0,7502.515960,7363.646807,13142.5,26285.0,...,6.0,489,2962,850,81484,56549,220,13,0.000598,29
2,FR71,5,0.026632,5345.0,5176.0,37704.0,9362.720621,9102.420896,21524.5,43049.0,...,7.0,512,3366,851,151358,100715,224,98,0.002599,193
3,FR71,6,0.026299,7215.0,6931.0,3241.0,4472.803175,4416.706842,5228.0,10456.0,...,9.0,528,3966,852,19267,21976,212,144,0.044431,467
4,FR71,7,0.059980,8732.0,8478.0,420.0,801.451049,800.350641,4576.0,9152.0,...,31.0,563,4669,853,3058,2860,155,293,0.697619,447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,AT21,4,0.044976,231.0,223.0,164.0,191.817722,189.002584,197.5,395.0,...,0.0,173,356,17,224,701,87,0,0.000000,0
665,AT21,5,0.011215,259.0,247.0,308.0,281.382716,274.147748,283.5,567.0,...,0.0,176,441,18,359,1372,122,0,0.000000,0
666,ITH1,5,0.000703,113.0,108.0,354.0,171.314775,165.506494,233.5,467.0,...,0.0,120,263,1044,351,1943,123,0,0.000000,0
667,AT34,5,0.047280,671.0,622.0,267.0,381.997868,373.619798,469.0,938.0,...,0.0,242,743,45,358,1037,103,0,0.000000,0
668,BE34,5,0.008712,174.0,169.0,104.0,130.187050,128.761905,139.0,278.0,...,0.0,100,273,104,99,500,65,0,0.000000,0

In [12]:
eurostat = pd.read_csv('2-3_eurostat_merged_data.csv')
eurostat

     eu_nuts_id  period  eurostat_employment  eurostat_GDP
0          AL01       0                  NaN   4300.000000
1          AL01       6                  NaN   2433.333333
2          AL01       7                  NaN   2720.000000
3          AL01       8                  NaN   3520.000000
4          AL02       0                  NaN   6500.000000
...         ...     ...                  ...           ...
1769       TRC3       0                  NaN   4100.000000
1770       TRC3       5                  NaN   2250.000000
1771       TRC3       6                  NaN   3120.000000
1772       TRC3       7                  NaN   4420.000000
1773       TRC3       8                  NaN   4300.000000

[1774 rows x 4 columns]

In [13]:
final_df = pd.merge(final_df, eurostat, on = ['eu_nuts_id', 'period'], how = 'left')
final_df

,eu_nuts_id,period,bert_similarity,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,...,num_cpc_8digit,Unnamed: 0,pub_num_institution,pub_num_authors,pub_num_subjects,pub_num_funding,pub_funding_ratio,pub_num_funded_agencies,eurostat_employment,eurostat_GDP
0,FR71,3,0.059860,3661.0,3620.0,130.0,251.084147,250.986667,1895.5,3791.0,...,2671,849,532,449,61,23,0.176923,56,NaN,NaN
1,FR71,4,0.054019,4533.0,4432.0,21752.0,7502.515960,7363.646807,13142.5,26285.0,...,2962,850,81484,56549,220,13,0.000598,29,NaN,NaN
2,FR71,5,0.026632,5345.0,5176.0,37704.0,9362.720621,9102.420896,21524.5,43049.0,...,3366,851,151358,100715,224,98,0.002599,193,NaN,NaN
3,FR71,6,0.026299,7215.0,6931.0,3241.0,4472.803175,4416.706842,5228.0,10456.0,...,3966,852,19267,21976,212,144,0.044431,467,NaN,NaN
4,FR71,7,0.059980,8732.0,8478.0,420.0,801.451049,800.350641,4576.0,9152.0,...,4669,853,3058,2860,155,293,0.697619,447,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,AT21,4,0.044976,231.0,223.0,164.0,191.817722,189.002584,197.5,395.0,...,356,17,224,701,87,0,0.000000,0,239.000000,22100.0
665,AT21,5,0.011215,259.0,247.0,308.0,281.382716,274.147748,283.5,567.0,...,441,18,359,1372,122,0,0.000000,0,243.480000,24080.0
666,ITH1,5,0.000703,113.0,108.0,354.0,171.314775,165.506494,233.5,467.0,...,263,1044,351,1943,123,0,0.000000,0,253.440000,33820.0
667,AT34,5,0.047280,671.0,622.0,267.0,381.997868,373.619798,469.0,938.0,...,743,45,358,1037,103,0,0.000000,0,162.840000,29980.0
668,BE34,5,0.008712,174.0,169.0,104.0,130.187050,128.761905,139.0,278.0,...,273,104,99,500,65,0,0.000000,0,86.833333,19100.0

In [14]:
ardeco = pd.read_csv('2-4_ardeco_merged_data.csv')
ardeco.drop(columns=['year'], inplace=True)
ardeco.head()

  eu_nuts_id  period  population  gdpcapita  employment
0       AL01       0    790960.0     4300.0      0.4410
1       AL01       3   1009677.0      510.0      0.3270
2       AL01       4    979699.0      656.6      0.3190
3       AL01       5    939710.0     1319.2      0.2768
4       AL01       6    891280.0     2236.2      0.3440

In [15]:
final_df = pd.merge(final_df, ardeco, on = ['eu_nuts_id', 'period'], how = 'left')
final_df

,eu_nuts_id,period,bert_similarity,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,...,pub_num_authors,pub_num_subjects,pub_num_funding,pub_funding_ratio,pub_num_funded_agencies,eurostat_employment,eurostat_GDP,population,gdpcapita,employment
0,FR71,3,0.059860,3661.0,3620.0,130.0,251.084147,250.986667,1895.5,3791.0,...,449,61,23,0.176923,56,NaN,NaN,NaN,NaN,NaN
1,FR71,4,0.054019,4533.0,4432.0,21752.0,7502.515960,7363.646807,13142.5,26285.0,...,56549,220,13,0.000598,29,NaN,NaN,NaN,NaN,NaN
2,FR71,5,0.026632,5345.0,5176.0,37704.0,9362.720621,9102.420896,21524.5,43049.0,...,100715,224,98,0.002599,193,NaN,NaN,NaN,NaN,NaN
3,FR71,6,0.026299,7215.0,6931.0,3241.0,4472.803175,4416.706842,5228.0,10456.0,...,21976,212,144,0.044431,467,NaN,NaN,NaN,NaN,NaN
4,FR71,7,0.059980,8732.0,8478.0,420.0,801.451049,800.350641,4576.0,9152.0,...,2860,155,293,0.697619,447,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,AT21,4,0.044976,231.0,223.0,164.0,191.817722,189.002584,197.5,395.0,...,701,87,0,0.000000,0,239.000000,22100.0,560974.6,20385.4,0.4192
665,AT21,5,0.011215,259.0,247.0,308.0,281.382716,274.147748,283.5,567.0,...,1372,122,0,0.000000,0,243.480000,24080.0,558940.0,24420.0,0.4332
666,ITH1,5,0.000703,113.0,108.0,354.0,171.314775,165.506494,233.5,467.0,...,1943,123,0,0.000000,0,253.440000,33820.0,469160.0,33893.2,0.5356
667,AT34,5,0.047280,671.0,622.0,267.0,381.997868,373.619798,469.0,938.0,...,1037,103,0,0.000000,0,162.840000,29980.0,356100.0,29580.0,0.4646
668,BE34,5,0.008712,174.0,169.0,104.0,130.187050,128.761905,139.0,278.0,...,500,65,0,0.000000,0,86.833333,19100.0,253310.0,18743.8,0.3398

In [16]:
final_df.describe()

,period,bert_similarity,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,num_mean_with_families,...,pub_num_authors,pub_num_subjects,pub_num_funding,pub_funding_ratio,pub_num_funded_agencies,eurostat_employment,eurostat_GDP,population,gdpcapita,employment
count,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,669.000000,...,669.000000,669.000000,669.000000,669.000000,669.000000,395.000000,399.000000,5.250000e+02,525.000000,525.000000
mean,5.330344,0.041654,1775.346786,1666.375187,4799.146487,1524.554378,1465.546993,3287.246637,6574.493274,3232.760837,...,14046.454410,177.218236,55.711510,0.156394,103.082212,1081.978437,29331.871345,2.139042e+06,30316.991143,0.477321
std,1.077807,0.026899,2905.867777,2665.841443,7893.338317,2630.258018,2486.390574,4573.094393,9146.188785,4510.941757,...,19865.889099,45.698572,95.692804,0.324339,137.859603,914.226496,10688.877204,1.808145e+06,14438.554304,0.103894
min,2.000000,-0.042263,100.000000,87.000000,100.000000,118.966387,112.858407,119.000000,238.000000,113.000000,...,276.000000,45.000000,0.000000,0.000000,0.000000,86.833333,6660.000000,2.533100e+05,6640.000000,0.298200
25%,4.000000,0.024121,349.000000,325.000000,375.000000,334.132088,325.629040,680.500000,1361.000000,662.500000,...,1946.000000,146.000000,5.000000,0.001002,14.000000,520.776667,22940.000000,1.113000e+06,23225.800000,0.432000
50%,5.000000,0.039302,784.000000,743.000000,1457.000000,689.109677,677.098155,1618.000000,3236.000000,1577.500000,...,6862.000000,190.000000,18.000000,0.003316,48.000000,782.636000,27940.000000,1.599672e+06,27786.800000,0.467000
75%,6.000000,0.056810,1926.000000,1821.000000,6627.000000,1614.521368,1570.027435,4274.500000,8549.000000,4226.500000,...,17663.000000,215.000000,65.000000,0.065574,147.000000,1385.254000,33800.000000,2.495620e+06,34329.200000,0.508200
max,7.000000,0.145414,23329.000000,22627.000000,94877.000000,29502.537901,28852.308535,56172.000000,112344.000000,55945.000000,...,223743.000000,242.000000,880.000000,1.961538,1048.000000,6182.476000,87650.000000,1.199060e+07,184531.200000,1.617200

In [17]:
final_df.columns

Index(['eu_nuts_id', 'period', 'bert_similarity', 'num_patents',
       'num_families', 'num_papers', 'num_harmonic_mean',
       'num_harmonic_mean_with_families', 'num_mean', 'num_sum',
       'num_mean_with_families', 'num_sum_with_families',
       'num_patent_citations', 'num_pub_citations',
       'num_pub_citations_full_period', 'citation_harmonic_mean',
       'citation_mean', 'citation_sum', 'citation_harmonic_mean_full_period',
       'citation_mean_full_period', 'citation_sum_full_period',
       'num_unique_novel_appln_4digit', 'num_unique_novel_appln_8digit',
       'num_novel_4digit_combinations', 'num_novel_8digit_combinations',
       'binary_novel_journal', 'num_unique_novel_subjects', 'num_inventors',
       'num_organizations', 'num_companies', 'num_universities',
       'num_gov_institutions', 'num_cpc_4digit', 'num_cpc_8digit',
       'Unnamed: 0', 'pub_num_institution', 'pub_num_authors',
       'pub_num_subjects', 'pub_num_funding', 'pub_funding_ratio',
       'pub_num_funded_agencies', 'eurostat_employment', 'eurostat_GDP',
       'population', 'gdpcapita', 'employment'],
      dtype='object')

In [18]:
import numpy as np

final_df['log_bert_similarity'] = np.log(final_df['bert_similarity'] + 1)
final_df['log_binary_novel_journal'] = np.log(final_df['binary_novel_journal'] + 1)
final_df['log_num_unique_novel_subjects'] = final_df['num_unique_novel_subjects'].fillna(0)
final_df['log_num_patents'] = np.log(final_df['num_patents'] + 1)
final_df['log_num_families'] = np.log(final_df['num_families'] + 1)
final_df['log_num_papers'] = np.log(final_df['num_papers'] + 1)
final_df['log_num_harmonic_mean'] = np.log(final_df['num_harmonic_mean'] + 1)
final_df['log_num_harmonic_mean_with_families'] = np.log(final_df['num_harmonic_mean_with_families'] + 1)
final_df['log_num_mean'] = np.log(final_df['num_mean'] + 1)
final_df['log_num_sum'] = np.log(final_df['num_sum'] + 1)
final_df['log_num_mean_with_families'] = np.log(final_df['num_mean_with_families'] + 1)
final_df['log_num_sum_with_families'] = np.log(final_df['num_sum_with_families'] + 1)
final_df['log_num_patent_citations'] = np.log(final_df['num_patent_citations'] + 1)
final_df['log_num_pub_citations'] = np.log(final_df['num_pub_citations'] + 1)
final_df['log_num_pub_citations_full_period'] = np.log(final_df['num_pub_citations_full_period'] + 1)
final_df['log_citation_harmonic_mean_full_period'] = np.log(final_df['citation_harmonic_mean_full_period'] + 1)
final_df['log_citation_mean_full_period'] = np.log(final_df['citation_mean_full_period'] + 1)
final_df['log_citation_sum_full_period'] = np.log(final_df['citation_sum_full_period'] + 1)
final_df['log_num_unique_novel_appln_4digit'] = np.log(final_df['num_unique_novel_appln_4digit'] + 1)
final_df['log_num_unique_novel_appln_8digit'] = np.log(final_df['num_unique_novel_appln_8digit'] + 1)
final_df['log_num_novel_4digit_combinations'] = np.log(final_df['num_novel_4digit_combinations'] + 1)
final_df['log_num_novel_8digit_combinations'] = np.log(final_df['num_novel_8digit_combinations'] + 1)
final_df['log_citation_harmonic_mean'] = np.log(final_df['citation_harmonic_mean'] + 1)
final_df['log_citation_mean'] = np.log(final_df['citation_mean'] + 1)
final_df['log_citation_sum'] = np.log(final_df['citation_sum'] + 1)
final_df['log_num_inventors'] = np.log(final_df['num_inventors'] + 1)
final_df['log_num_organizations'] = np.log(final_df['num_organizations'] + 1)
final_df['log_num_companies'] = np.log(final_df['num_companies'] + 1)
final_df['log_num_universities'] = np.log(final_df['num_universities'] + 1)
final_df['log_num_gov_institutions'] = np.log(final_df['num_gov_institutions'] + 1)
final_df['log_num_cpc_4digit'] = np.log(final_df['num_cpc_4digit'] + 1)
final_df['log_num_cpc_8digit'] = np.log(final_df['num_cpc_8digit'] + 1)
final_df['log_pub_num_institution'] = np.log(final_df['pub_num_institution'] + 1)
final_df['log_pub_num_authors'] = np.log(final_df['pub_num_authors'] + 1)
final_df['log_pub_num_subjects'] = np.log(final_df['pub_num_subjects'] + 1)
final_df['log_pub_num_funding'] = np.log(final_df['pub_num_funding'] + 1)
final_df['log_pub_funding_ratio'] = np.log(final_df['pub_funding_ratio'] + 1)
final_df['log_pub_num_funded_agencies'] = np.log(final_df['pub_num_funded_agencies'] + 1)
final_df['log_eurostat_employment'] = np.log(final_df['eurostat_employment'] + 1)
final_df['log_eurostat_GDP'] = np.log(final_df['eurostat_GDP'] + 1)
final_df['log_population'] = np.log(final_df['population'] + 1)
final_df['log_gdpcapita'] = np.log(final_df['gdpcapita'] + 1)
final_df['log_employment'] = np.log(final_df['employment'] + 1)
final_df

,eu_nuts_id,period,bert_similarity,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,...,log_pub_num_authors,log_pub_num_subjects,log_pub_num_funding,log_pub_funding_ratio,log_pub_num_funded_agencies,log_eurostat_employment,log_eurostat_GDP,log_population,log_gdpcapita,log_employment
0,FR71,3,0.059860,3661.0,3620.0,130.0,251.084147,250.986667,1895.5,3791.0,...,6.109248,4.127134,3.178054,0.162903,4.043051,NaN,NaN,NaN,NaN,NaN
1,FR71,4,0.054019,4533.0,4432.0,21752.0,7502.515960,7363.646807,13142.5,26285.0,...,10.942880,5.398163,2.639057,0.000597,3.401197,NaN,NaN,NaN,NaN,NaN
2,FR71,5,0.026632,5345.0,5176.0,37704.0,9362.720621,9102.420896,21524.5,43049.0,...,11.520060,5.416100,4.595120,0.002596,5.267858,NaN,NaN,NaN,NaN,NaN
3,FR71,6,0.026299,7215.0,6931.0,3241.0,4472.803175,4416.706842,5228.0,10456.0,...,9.997752,5.361292,4.976734,0.043472,6.148468,NaN,NaN,NaN,NaN,NaN
4,FR71,7,0.059980,8732.0,8478.0,420.0,801.451049,800.350641,4576.0,9152.0,...,7.958926,5.049856,5.683580,0.529227,6.104793,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,AT21,4,0.044976,231.0,223.0,164.0,191.817722,189.002584,197.5,395.0,...,6.553933,4.477337,0.000000,0.000000,0.000000,5.480639,10.003378,13.237433,9.922623,0.350093
665,AT21,5,0.011215,259.0,247.0,308.0,281.382716,274.147748,283.5,567.0,...,7.224753,4.812184,0.000000,0.000000,0.000000,5.499134,10.089178,13.233799,10.103199,0.359910
666,ITH1,5,0.000703,113.0,108.0,354.0,171.314775,165.506494,233.5,467.0,...,7.572503,4.820282,0.000000,0.000000,0.000000,5.539065,10.428837,13.058701,10.430999,0.428921
667,AT34,5,0.047280,671.0,622.0,267.0,381.997868,373.619798,469.0,938.0,...,6.945051,4.644391,0.000000,0.000000,0.000000,5.098890,10.308319,12.782970,10.294888,0.381582
668,BE34,5,0.008712,174.0,169.0,104.0,130.187050,128.761905,139.0,278.0,...,6.216606,4.189655,0.000000,0.000000,0.000000,4.475441,9.857496,12.442373,9.838672,0.292520

In [19]:
final_df.to_csv('3-1_final_data.csv', index=False)

# **Bert similarity 표준화, 제곱근, 절댓값 추가**

In [1]:
import pandas as pd
final_df = pd.read_csv('3-1_final_data.csv')
final_df

,eu_nuts_id,period,bert_similarity,num_patents,num_families,num_papers,num_harmonic_mean,num_harmonic_mean_with_families,num_mean,num_sum,...,log_pub_num_authors,log_pub_num_subjects,log_pub_num_funding,log_pub_funding_ratio,log_pub_num_funded_agencies,log_eurostat_employment,log_eurostat_GDP,log_population,log_gdpcapita,log_employment
0,FR71,3,0.059860,3661.0,3620.0,130.0,251.084147,250.986667,1895.5,3791.0,...,6.109248,4.127134,3.178054,0.162903,4.043051,NaN,NaN,NaN,NaN,NaN
1,FR71,4,0.054019,4533.0,4432.0,21752.0,7502.515960,7363.646807,13142.5,26285.0,...,10.942880,5.398163,2.639057,0.000597,3.401197,NaN,NaN,NaN,NaN,NaN
2,FR71,5,0.026632,5345.0,5176.0,37704.0,9362.720621,9102.420896,21524.5,43049.0,...,11.520060,5.416100,4.595120,0.002596,5.267858,NaN,NaN,NaN,NaN,NaN
3,FR71,6,0.026299,7215.0,6931.0,3241.0,4472.803175,4416.706842,5228.0,10456.0,...,9.997752,5.361292,4.976734,0.043472,6.148468,NaN,NaN,NaN,NaN,NaN
4,FR71,7,0.059980,8732.0,8478.0,420.0,801.451049,800.350641,4576.0,9152.0,...,7.958926,5.049856,5.683580,0.529227,6.104793,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,AT21,4,0.044976,231.0,223.0,164.0,191.817722,189.002584,197.5,395.0,...,6.553933,4.477337,0.000000,0.000000,0.000000,5.480639,10.003378,13.237433,9.922623,0.350093
665,AT21,5,0.011215,259.0,247.0,308.0,281.382716,274.147748,283.5,567.0,...,7.224753,4.812184,0.000000,0.000000,0.000000,5.499134,10.089178,13.233799,10.103199,0.359910
666,ITH1,5,0.000703,113.0,108.0,354.0,171.314775,165.506494,233.5,467.0,...,7.572503,4.820282,0.000000,0.000000,0.000000,5.539065,10.428837,13.058701,10.430999,0.428921
667,AT34,5,0.047280,671.0,622.0,267.0,381.997868,373.619798,469.0,938.0,...,6.945051,4.644391,0.000000,0.000000,0.000000,5.098890,10.308319,12.782970,10.294888,0.381582
668,BE34,5,0.008712,174.0,169.0,104.0,130.187050,128.761905,139.0,278.0,...,6.216606,4.189655,0.000000,0.000000,0.000000,4.475441,9.857496,12.442373,9.838672,0.292520

In [2]:
final_df['bert_similarity_normalized'] = (final_df['bert_similarity'] + 1) / 2

In [3]:
final_df['bert_similarity_abs'] = final_df['bert_similarity'].abs()

In [ ]:
final_df['bert_similarity_squared'] = final_df['bert_similarity'] ** 2

In [6]:
final_df.to_csv('3-1_final_data.csv', index=False)